* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.poke {
  background-color: black;
}

.poke__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.poke__title {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.poke__quant {
  color: white;
  font-size: 54px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 50px;
}

.poke__card {
  height: 250px;
  width: 250px;

  border-radius: 50%  ;
  margin-bottom: 20px;
  padding: 50px 77px;
}

.catch {
  background-color: green;
}

.release {
  background-color: red;
}

.poke__card p {
  text-align: center;
  color: white;
  rotate: -10deg;
  
}

.poke__img {
  margin: 0 auto;
  
}

.poke__card button {
  width: 96px;
  background-color: yellow;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}



